<form>
<%= form_with(model: @picture, local: true, url: choose_new_or_edit) do |form| %>
<!-- エラー表示 -->
<% if @picture.errors.any? %>
  <% @picture.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

  <%= form.label :image %>
  <%= form.file_field :image, accept:'image/jpg, image/jpeg, image/gif, image/png' %>
  <%= form.hidden_field :image_cache %>

  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :content %>
  <%= form.text_area :content %>
  <%= form.submit %>
<% end %>
</form>
