<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<h1>index</h1>
<%= link_to 'new',new_picture_path %>

<% @pictures.each do |picture| %>
  <div>
    <%= picture.title %>
  </div>
  <div>
    <%= image_tag (picture.image) %>
  </div>
  <div>
    <%= picture.content %>
  </div>
  <div class="">
    <%= link_to 'show', picture_path(picture.id) %>
    <%= link_to 'edit', edit_picture_path(picture.id) %>
    <%= link_to 'destroy', picture_path(picture.id), method: :delete ,data: {confirm: '削除していいですか？'} %>
  </div>
<% end %>
