<h1>show</h1>
<div class="">
  <%= image_tag @picture.image %>
</div>
<div class="">
  <%= @picture.title %>
</div>
<div class="">
  <%= @picture.content %>
</div>
<div class="">
  <%= link_to 'index', pictures_path %>
</div>

<!-- お気に入りボタン -->
<% unless @picture.user == current_user %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除', favorites_path(picture_id: @picture.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入り登録', favorites_path(picture_id: @picture.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
